# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
venv312/
ENV/
.venv/
.env
.pytest_cache/
*.cover
*.log

# VSCode

.vscode/

# macOS

.DS_Store

# 기타

*.log

# Jupyter Notebook

.ipynb_checkpoints/

# PyCharm

.idea/

# Coverage

htmlcov/
.coverage

# pipenv

Pipfile.lock

# Poetry

poetry.lock

# mypy

.mypy_cache/

# virtualenv

*/bin/
*/Scripts/
